<%= form_with method: "post", url: "/bookings" do |form| %>
  <div class="invisible">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>
  <div>
    <div> 
    <%= form.radio_button :clown_id, Clown.first.id%>
    <%= form.label :clown_id, 'sadface sillypants', value: Clown.first.id %>
    </div>
    <div>
    <%= form.radio_button :clown_id, Clown.second.id%>
    <%= form.label :clown_id, 'bobo bignose', value: Clown.second.id %>
    </div>
    <div>
    <%= form.radio_button :clown_id, Clown.third.id%>
    <%= form.label :clown_id, 'weepy', value: Clown.third.id %>
    </div>
    <div>
    <%= form.radio_button :clown_id, Clown.fourth.id%>
    <%= form.label :clown_id, 'dumpy', value: Clown.fourth.id %>
    </div>
  </div>
  <div>
    <%= form.label :hours%>
    <%= form.text_field :hours %>
  </div>
  <div>
    <%= form.label :total_price%>
    <%= form.text_field :total_price %>
  </div>
  <div>
    <%= form.submit "Submit" %>
  </div>
  
<% end%>